@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "tailwindcss-animated";

@theme{
    /* Screen */
    --breakpoint-sm: 30rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 80rem;
    --breakpoint-xl: 87.5rem;
    --breakpoint-2xl: 96rem;

    /* Font */
    --font-roboto: "Roboto", serif;
    --font-inter: "Inter", sans-serif;
    --font-comfortaa: "Comfortaa", sans-serif;

    /* Color */
    --color-p: #FDC435;
    --color-bg-white: #FFFFFF;
    --color-bg-gray: #F9FAFF;
    --color-bg-line: #25282B;
    --color-text: #25282b;
    --color-text-medium: #828282;
    --color-text-low: #9A9FA8;
}
@utility container{
    background-color: #F9FAFF;
    margin-inline: auto;
    padding-inline: 1rem;
    padding-block: 2rem;
    width: 100%;
    overflow-x: clip;
    max-width: 1536px;

    @media(min-width: theme("screens.md")){
        padding-inline: 4.5.rem;
        padding-block: 3.rem;
    }
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1; }
}
.animate-fadeIn{
    animation: fadeIn 1s ease;
}

@keyframes slideUp {
    from {transform: translateY(40px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
.animate-slideUp{
    animation: slideUp 0.8s cubic-bezier(.4,0,.2,1);
}

html {
    scroll-behavior: smooth;
}

/* Cho phép click vào icon Lucide */
[data-lucide] svg {
  pointer-events: none;
}